
*.tlog
*.ipch
code/.vs/*
code/intermediate/*
code/enc_temp_folder/*
code/Alpha/x64/Debug/*
code/Alpha/x64/Release/*
code/x64/*
*.cso
data/*
_data/*
*.vcxproj.user
code/3rdparty/bmfont-1.14a/bmfont.bmfc
